[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-markdownx = "==4.0.0b1"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
