/* img サイズ小さく*/

.header-img{
  width:200px;
  height:auto;
}
.header-icon{
  padding-top: 10px;
}
/* リスト */
ul {
  list-style: none;
  padding: 0;
}

.header-container{
  display:flex;
justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color:white;
}

.header-ul{
  display:flex;
  align-items: center;
  padding-right:20px;
}
.header-li{
  padding-right: 20px;
}
