@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');

body{
  font-family: 'Noto Serif JP', serif;
}

.daily-top-container{
max-width:800px;
height: 400px;
display: flex;
margin:0 auto;
}

.evaluation{
  width:200px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.daily-container{
  border: 2px solid black;
  width: 700px;
  margin: 0 auto;
  padding:30px;
}
.categoryView-container{
  border: 2px solid black;
  width: 700px;
  margin: 0 auto;
  padding:30px;
}

.detail-date{
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border: 2px solid black;
  margin: 0 auto;
}

.category-container{
  position:fixed;
  top:100px;
  right:50px;
  color:white;
  border:2px solid black;
  width:300px;
  height:300px;
  font-size: 20px;
  margin-top:30px;
}

.catrgory-ul{
      display: block;
}
.catrgory-li{
  display: block;
  margin-top: 30px;
}
